*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: #e3d6d0;
}

h1{
    background-color: #D0B8AC;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #D0B8AC;
}

img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    gap: 4rem;
}

#user,#computer{
    font-size: 2rem;
}

.msg-box{
    margin-top: 3rem;
}

#msg{
    background-color: #D0B8AC;
    font-size: 1.5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}